footer {
  align-items: center;
  gap: 24px;
}

.footerCredit {
  text-align: center;
}

@media (max-width: 800px) {
  footer {
    align-items: flex-start;
    flex-direction: column;
    gap: 12px;
  }

  .footerCredit {
    text-align: left;
  }
}
